---
import { Icon } from "astro-icon/components";

const { title } = Astro.props;
---

<div class="max-w-md mx-auto bg-transparent">
  <details class="group">
    <summary
      class="flex gap-4 justify-center items-center cursor-pointer list-none py-4"
    >
      <span class="text-2xl font-arabic font-bold text-black">
        {title}
      </span>
      <Icon
        name="lucide:chevron-down"
        class="w-6 h-6 text-black transition-transform duration-500 group-open:rotate-180"
      />
    </summary>

    <div
      class="grid grid-rows-[0fr] transition-[grid-template-rows] duration-500 ease-in-out group-open:grid-rows-[1fr]"
    >
      <div
        class="overflow-hidden px-3 mb-3 mx-auto text-gray-600 leading-relaxed pt-2 text-justify"
      >
        <slot />
      </div>
    </div>
  </details>
</div>
