---
import { Icon } from "astro-icon/components";

const { link } = Astro.props;
---

<a
  href={link}
  class="inline-flex items-center justify-center gap-2 px-6 py-3 bg-amber-400 text-white font-bold rounded-xl transition-all duration-300 hover:bg-amber-500 hover:shadow-lg hover:shadow-amber-200 active:scale-95 group hover:cursor-pointer"
>
  <Icon
    name="lucide:handbag"
    class="w-5 h-5 transition-transform duration-300 group-hover:-rotate-12"
  />
  <span>Beli Sekarang</span>
</a>
